{% extends 'base.html.twig' %}

{% block metatitle %}
    404 | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1 id="error"> ERREUR 404 : La page que vous cherchez est introuvable</h1>

{% endblock main %}


