{% extends 'base.html.twig' %}

{% block metatitle %}
    Résultat de recherche | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1 id="titreResultat">Le résultat de la recherche est "{{ search }}"</h1>

{% endblock main %}


