{% extends 'base.html.twig' %}

{% block metatitle %}
    Création d'un article | Super Blog
{% endblock metatitle %}

{% block main %}


    <p>{{ message }}</p>

    {{ form(formView) }}

{% endblock main %}

