{% include 'partials/_header.html.twig' %}


<main>
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
    </article>
</main>


{% include 'partials/_footer.html.twig' %}