{% include 'partials/_header.html.twig' %}


<body>

<main>

        <section class="articles-container">


                {% for article in articles %}
                        <article class="article">
                                <p> {{ article.title }}</p>
                        </article>
                {% endfor %}



        </section>



</main>

</body>


{% include 'partials/_footer.html.twig' %}
