{% extends 'base.html.twig' %}

{% block metatitle %}
    Article supprimé | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1>{{ article.title}} a bien été supprimé</h1>

{% endblock main %}


