{% include 'partials/_header.html.twig' %}


<main>
    <article>

            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <img src="{{ article.image }}">

    </article>
</main>


{% include 'partials/_footer.html.twig' %}