{% include 'partials/_header.html.twig' %}


<main>
    <section class="articles-container">
        <article class="article">

            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>


        </article>
    </section>

</main>


{% include 'partials/_footer.html.twig' %}