{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégorie modifiée | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1>"{{ category.title}}" mis a jour</h1>

{% endblock main %}