{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégorie créé| Super Blog
{% endblock metatitle %}

{% block main %}

    <h1>Création de catégorie</h1>

    {% if category and category.title %}

        <h1>{{ category.title }}</h1>


    {% endif %}


    <form method="POST" action="{{ path('category_create') }}">

        <label>Titre de la categorie</label>
        <input type="text" name="title"/> <br> <br>

        <label>Couleur de la categorie</label>
        <input type="text" name="color"/> <br> <br>

        <input type="submit"/>

    </form>
{% endblock main %}