{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégorie supprimé | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1>{{ category.title }} a bien été supprimé</h1>

{% endblock main %}


