{% extends 'base.html.twig' %}

{% block metatitle %}
    404 | Super Blog
{% endblock metatitle %}

{% block main %}

    <h1 id="error"> ATTENTION : vous n'avez pas rempli tous les champs du formulaire</h1>

{% endblock main %}